.vscode
__pycache__
venv

# LaTeX auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# LaTeX intermediate files
*.dvi
*.xdv
*-converted-to.*

# Bibliography auxiliary files
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Build tool auxiliary files
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Latexmk
*.fdb_latexmk
*.fls

# Nomenclature
*.nlg
*.nlo
*.nls

# Glossary
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*.lzo
*.lzs
*.slg
*.slo
*.sls
*.ist

# Hyperref
*.brf

# Knitr
*-concordance.tex

# Listings
*.lol

# Makeidx
*.idx
*.ilg
*.ind

# Minitoc
*.maf
*.mlf
*.mlt
*.mtc[0-9]*
*.slf[0-9]*
*.slt[0-9]*
*.stc[0-9]*

# Minted
_minted*
*.pyg

# Morewrites
*.mw

# Nomencl
*.nlg
*.nlo
*.nls

# Pax
*.pax

# Pythontex
*.pytxcode
pythontex-files-*/

# TikZ & PGF
*.dpth
*.md5
*.auxlock

# Todonotes
*.tdo

# Xindy
*.xdy

# Latexindent backup files
*.bak[0-9]